mian {
    height: 110vh;
}

.projetos {
    display: flex;
    flex-direction: row;
}

.projeto {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(217, 217, 217, 30%);
    width: 20rem;
    height: auto;
    padding: 1rem;
    margin: 1.25rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.content {
    flex-direction: column;
}

.projeto:hover {
    width: 22rem;
    height: auto;
    margin: 2rem;
    box-shadow: 4px 8px 16px rgba(0,0,0,0.1);
}

.img-projeto {
    width: 10rem;
    height: auto;
}