.proj {
    width: 22.5rem;
    height: 8rem;
    box-shadow: 0 0 16px #00000080;
    background-color: rgb(31, 29, 29);
    color: white;
    display: flex;
    position: relative;
    border-radius: 4px;
    flex-wrap: nowrap;
}

.proj-Logo {
    width: 8rem;
    height: 7.95rem;
    border-radius: 4px 0 0 4px;
}

*, *:after, *:before {
    box-sizing: border-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.projList {
    font-family: 'Roboto' ;
    font-weight: 400;
    font-style: normal;
    margin: 2rem;
    left: 0;
    column-gap: 3rem;
    display: grid;
    margin-top: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.5rem;
    margin-bottom: 2.5rem;
}


img {
    overflow-clip-margin: content-box;
    overflow-x: auto;
    overflow-y: auto;
    width: 8rem;
}

.proj-Content {
    margin-left: .75rem;
    width: 100%;
    display: block;
}

.respons {
    font-size: 22px;
    height: 1.5rem;
    line-height: 1.5rem;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.desc {
    font-size: 14px;
    height: 1.5rem;
    line-height: 1.5rem;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    font-family: 'Roboto' sans-serif;
    appearance: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
}

h4 {
    margin: 0;
}

@media (max-width: 768px) {
    .projList {
        grid-template-columns: repeat(1, 1fr);
    }
    body {
        height: auto;
    }

    .proj {
        width: 16rem;
        height: 4rem;
        box-shadow: 0 0 16px #00000080;
        background-color: rgb(31, 29, 29);
        color: white;
        display: flex;
        position: relative;
        border-radius: 4px;
        flex-wrap: nowrap;
    }

    img {
        width: 4rem;
    }

    .respons {
        font-size: 14px;
        height: 1rem;
        line-height: 1rem;
        width: 110px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .desc {
    font-size: 10px;
    height: 1rem;
    line-height: 1rem;
    width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
}
